@let a = t().documentActions.detail;

<!--
  Herramientas del documento fundidas en un solo segmento: se leen como una pieza
  y no compiten con "Aprobar", que queda suelto como la única decisión primaria.
  Los <p-menu> van FUERA del grupo: su CSS une los botones con
  `p-button:not(:last-child)`, y un hermano detrás del último le quitaría el borde.
-->
<p-buttongroup>
  @if (showAprobacion()) {
    <p-button
      type="button"
      [label]="a.aprobar"
      icon="pi pi-check-circle"
      size="small"
      [disabled]="!canAprobar()"
      (onClick)="aprobar.emit()"
    />
  }

  @if (showImprimir()) {
    <p-button
      type="button"
      [label]="a.imprimir"
      icon="pi pi-print"
      severity="secondary"
      [outlined]="true"
      size="small"
      [disabled]="!canImprimir()"
      (onClick)="imprimir.emit()"
    />
  }

  @if (showEmitir()) {
    <p-button
      type="button"
      [label]="a.emitir"
      icon="pi pi-send"
      severity="secondary"
      [outlined]="true"
      size="small"
      [disabled]="!canEmitir()"
      (onClick)="emitir.emit()"
    />
  }

  @if (accionesItems().length > 0) {
    <p-button
      type="button"
      [label]="a.acciones"
      icon="pi pi-chevron-down"
      iconPos="right"
      severity="secondary"
      [outlined]="true"
      size="small"
      (onClick)="toggleAcciones($event)"
    />
  }

  <p-button
    type="button"
    [label]="a.opciones"
    icon="pi pi-chevron-down"
    iconPos="right"
    severity="secondary"
    [outlined]="true"
    size="small"
    (onClick)="toggleOpciones($event)"
  />
</p-buttongroup>

@if (accionesItems().length > 0) {
  <p-menu #accionesMenu [popup]="true" [model]="accionesItems()" appendTo="body" />
}
<p-menu #opcionesMenu [popup]="true" [model]="opcionesItems()" appendTo="body" />
<app-archivos-dialog [(visible)]="archivosVisible" [owner]="archivosOwner()" />
@if (showContabilidad()) {
  <app-contabilidad-dialog
    [(visible)]="contabilidadVisible"
    [documentoId]="documentoId()"
    [contabilizado]="contabilizado()"
    [canContabilizar]="canContabilizar()"
    (contabilizacionChanged)="contabilizacionChanged.emit()"
  />
}
