<input #fileInput type="file" [accept]="accept()" class="hidden" (change)="onInputChange($event)" />

<div
  class="flex flex-col items-center justify-center border-2 border-dashed text-center transition-[background-color,border-color,transform] duration-150 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-400"
  [class]="zonaClass()"
  role="button"
  [attr.tabindex]="disabled() ? -1 : 0"
  [attr.aria-disabled]="disabled()"
  [attr.aria-label]="ariaLabel()"
  (click)="abrir()"
  (keydown)="onKeydown($event)"
  (dragover)="onDragOver($event)"
  (dragenter)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)"
>
  <ng-content />
</div>
